<div class="container">
  <div class="row">
    <div class="col col-sm-6">
      <h1>
        <p>Laidback reizen</p>
        <p class="lead">De beste reizen binnen handbereik</p>
      </h1>
    </div>
    <div class="col col-sm-6">
      <div class="well pull-right">
        <img src="//placehold.it/280x100/E7E7E7">
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col col-sm-12">

      <div class="panel">
        <div class="panel-body">
          You may want to put some news here
          <span class="glyphicon glyphicon-heart-empty"></span>
        </div>
      </div>

    </div>
  </div>
</div>
