<div class="panel">
    <h3>
        Operations
    </h3>
    <div class="panel-body">
        <div>
            <h4>Delete</h4>
            <a href="<%= pages.destinations.getDestinationIndex %>/delete/<%= destinations._id %>">
                <button class="btn btn-default">Delete destination</button>
            </a>
        </div>

        <div>
            <h4>
                Edit destination
            </h4>
            <form action="/destinations/<%= destinations._id %>" method="post">
                <div>
                <span>
                    <label>Name:</label>
                    <input type="text" class="form-control" name="name" placeholder="Enter destination name"/>
                </span>
                <span>
                    <label>Description:</label>
                    <textarea name="description" class="form-control"
                              placeholder="Enter the description"></textarea>
                </span>
                </div>
                <div>
               <span class="input-group-btn">
                  <input type="submit" value="Edit destination" class="btn btn-default"/>
              </span>
                </div>
            </form>
        </div>
        <div>
            <h4>
                Add hotel
            </h4>
            <form action="/hotels/add" method="post">
                <div>
                <span>
                    <label>Name:</label>
                    <input type="text" class="form-control" name="name" placeholder="Enter destination name"/>
                </span>
                <span>
                    <label>Description:</label>
                    <textarea name="description" class="form-control"
                              placeholder="Enter the description"></textarea>
                </span>
                    <input type="hidden" name="destination" value="<%= destinations._id %>"/>
                </div>
                <div>
               <span class="input-group-btn">
                  <input type="submit" value="Edit destination" class="btn btn-default"/>
              </span>
                </div>
            </form>
        </div>
    </div>
</div>


